.icon-bold {
	background-image: url('./../../img/icons/bold.svg');
}
.icon-italic {
	background-image: url('./../../img/icons/italic.svg');
}
.icon-underline {
	background-image: url('./../../img/icons/underline.svg');
}
.icon-link {
	background-image: url('./../../img/icons/link.svg');
}
.icon-ol {
	background-image: url('./../../img/icons/ol.svg');
}
.icon-ul {
	background-image: url('./../../img/icons/ul.svg');
}
.icon-hr {
	background-image: url('./../../img/icons/hr.svg');
}
.icon-quote {
	background-image: url('./../../img/icons/quote.svg');
}
.icon-paragraph {
	background-image: url('./../../img/icons/paragraph.svg');
}
.icon-code {
	background-image: url('./../../img/icons/code.svg');
}
.icon-image {
	background-image: url('./../../img/icons/image.svg');
}
@include icon-black-white('undo', 'text', 1);
@include icon-black-white('redo', 'text', 1);
@include icon-black-white('bold', 'text', 1);
@include icon-black-white('italic', 'text', 1);
@include icon-black-white('strike', 'text', 1);
@include icon-black-white('underline', 'text', 1);
@include icon-black-white('link', 'text', 1);
@include icon-black-white('ol', 'text', 1);
@include icon-black-white('ul', 'text', 1);
@include icon-black-white('hr', 'text', 1);
@include icon-black-white('quote', 'text', 1);
@include icon-black-white('paragraph', 'text', 1);
@include icon-black-white('code', 'text', 1);
@include icon-black-white('image', 'text', 1);
@include icon-black-white('h1', 'text', 2);
@include icon-black-white('h2', 'text', 2);
@include icon-black-white('h3', 'text', 2);
@include icon-black-white('h4', 'text', 2);
@include icon-black-white('h5', 'text', 2);
@include icon-black-white('h6', 'text', 2);

