// Fix share link footer for now by just not showing it
#body-public #content {
    height: 100%;
}
#body-public footer {
    display: none;
}


@media only screen and (max-width: 1024px) { // $breakpoint-mobile
    .modal-header .modal-title {
        display: none;
    }

    .menubar { // all the !important is unfortunately needed
        width: calc(100% - 250px) !important;
        margin-left: 0 !important;
        margin-right: 250px !important;
    }
}


#files-public-content {
    width: 100% !important;
    height: 100%;

    .menubar { // all the !important is unfortunately needed
        width: calc(100% - 150px) !important;
        margin-left: 0 !important;
        margin-right: 150px !important;
    }

    #editor-session-list {
        right: 0;
    }
}

// Overwrite Viewer component styles
.modal-header {
    &.invisible {
        visibility: visible !important;
        opacity: 1 !important;
    }

    .modal-title {
        position: absolute;
        left: 0;
        padding: 0 16px !important;
        max-width: 200px !important;
        font-weight: bold;
        color: var(--color-main-text) !important;
    }

    .icons-menu .header-actions {
        filter: invert(100%);
        opacity: .4;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    .icons-menu .icon-close::before {
        color: var(--color-main-text);
        opacity: .6;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}

.modal-container #editor-container {
  position: absolute;
}

.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection *::-moz-selection { background: transparent; }
.ProseMirror-hideselection { caret-color: transparent; }

.ProseMirror-selectednode {
  outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */
li.ProseMirror-selectednode {
  outline: none;
}

li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px; top: -2px; bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

.has-conflicts,
#editor-wrapper.icon-loading {
  .ProseMirror-menubar {
    display: none;
  }
}

.ProseMirror-gapcursor {
  display: none;
  pointer-events: none;
  position: absolute;
}

.ProseMirror-gapcursor:after {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  width: 20px;
  border-top: 1px solid var(--color-main-text);
  animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
  to {
    visibility: hidden;
  }
}

#editor, .editor {
  background: var(--color-main-background);
  color: var(--color-main-text);
  background-clip: padding-box;
  border-radius: var(--border-radius);
  padding: 0;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

div[contenteditable=true],
div[contenteditable=false] {
  border: none !important;
  width: 100%;
  background-color: transparent;
  color: var(--color-main-text);
  opacity: 1;
}
