/* extracted by css-entry-points-plugin */
@import './NcLoadingIcon-CFe6qyTF.chunk.css';
@import './public-DY8mPymx.chunk.css';
@import './NcCheckboxRadioSwitch-ip_mRd2T-Bebqso8K.chunk.css';
@import './NcColorPicker-kNGLaPXu.chunk.css';
@import './BaseReader-CsLFhfbT.chunk.css';
@import './RichTextReader-WiWnHJrh.chunk.css';
@import './RichWorkspace-CuRYsAfp.chunk.css';