/* extracted by css-entry-points-plugin */
@import './text-BrKBJp1J.chunk.css';
@import './NcLoadingIcon-CAC0K4sG.chunk.css';
@import './NcNoteCard-Dz5-u2BY-B0rOTeLb.chunk.css';
@import './NcCheckboxRadioSwitch-NPJuwzqS-35V8jJy1.chunk.css';
@import './EditorOutline-WR0BQrnV.chunk.css';
@import './MenuBar-DuT0Yf3j.chunk.css';
@import './Editor-BUYEg48-.chunk.css';