/* extracted by css-entry-points-plugin */
@import './text-BzbYBDmX.chunk.css';
@import './NcLoadingIcon-C7S2_wmi.chunk.css';
@import './NcNoteCard-Dz5-u2BY-BmcDQAa3.chunk.css';
@import './NcCheckboxRadioSwitch-DAPHFb0L-BcHKt-lf.chunk.css';
@import './EditorOutline-BNLBBJ1H.chunk.css';
@import './MenuBar-DtIHp0An.chunk.css';
@import './Editor-IkRVv2yy.chunk.css';