/* extracted by css-entry-points-plugin */
@import './text-BrKBJp1J.chunk.css';
@import './NcLoadingIcon-CFe6qyTF.chunk.css';
@import './NcNoteCard-ChweF_5Q-BAYWJnqj.chunk.css';
@import './NcCheckboxRadioSwitch-ip_mRd2T-Bebqso8K.chunk.css';
@import './EditorOutline-C4plqqnd.chunk.css';
@import './MenuBar-CVJUirpC.chunk.css';
@import './Editor-Clhl2TU2.chunk.css';