/* extracted by css-entry-points-plugin */
@import './text-BrKBJp1J.chunk.css';
@import './NcLoadingIcon-CAC0K4sG.chunk.css';
@import './NcNoteCard-CwNXZ4vV-GaPUWc2b.chunk.css';
@import './NcCheckboxRadioSwitch-CX3HXCEk-35V8jJy1.chunk.css';
@import './EditorOutline-Cs-MDo8u.chunk.css';
@import './Wrapper-C7MTiFzQ.chunk.css';
@import './MenuBar-BUf2-Lfp.chunk.css';
@import './Editor-Hy96F42U.chunk.css';