/* extracted by css-entry-points-plugin */
@import './text-BrKBJp1J.chunk.css';
@import './NcLoadingIcon-CAC0K4sG.chunk.css';
@import './NcNoteCard-Dz5-u2BY-Br35yCJL.chunk.css';
@import './NcCheckboxRadioSwitch-DAPHFb0L-35V8jJy1.chunk.css';
@import './EditorOutline-CEwoW-xu.chunk.css';
@import './MenuBar-D7nDAUTl.chunk.css';
@import './Editor-CWVyxOML.chunk.css';