/* extracted by css-entry-points-plugin */
@import './text-BrKBJp1J.chunk.css';
@import './NcLoadingIcon-CAC0K4sG.chunk.css';
@import './NcNoteCard-Dz5-u2BY-DSc672TB.chunk.css';
@import './NcCheckboxRadioSwitch-DAPHFb0L-35V8jJy1.chunk.css';
@import './EditorOutline-B4cxiwZs.chunk.css';
@import './MenuBar-DXd2rNgU.chunk.css';
@import './Editor-C0q_ky-Z.chunk.css';