/* extracted by css-entry-points-plugin */
@import './NcNoteCard-C6xb7vi0-BffjDTy3.chunk.css';
@import './_plugin-vue2_normalizer-hk4lAjcj.chunk.css';
@import './RichText-yyem3bSU.chunk.css';
@import './BaseReader-CsLFhfbT.chunk.css';
@import './RichTextReader-Cu3T5WEr.chunk.css';
@import './RichWorkspace-BfZwJ3rL.chunk.css';