/* extracted by css-entry-points-plugin */
@import './text-BrKBJp1J.chunk.css';
@import './NcLoadingIcon-CAC0K4sG.chunk.css';
@import './NcNoteCard-Dz5-u2BY-B0rOTeLb.chunk.css';
@import './NcCheckboxRadioSwitch-NPJuwzqS-35V8jJy1.chunk.css';
@import './EditorOutline-CTS_2f6_.chunk.css';
@import './MenuBar-DRUu0PJn.chunk.css';
@import './Editor-Bt9X3Sgo.chunk.css';