/* extracted by css-entry-points-plugin */
@import './text-BrKBJp1J.chunk.css';
@import './NcLoadingIcon-CFe6qyTF.chunk.css';
@import './NcNoteCard-ChweF_5Q-BAYWJnqj.chunk.css';
@import './NcCheckboxRadioSwitch-ip_mRd2T-Bebqso8K.chunk.css';
@import './EditorOutline-D42M_a6q.chunk.css';
@import './MenuBar-Dhke-j-S.chunk.css';
@import './Editor-8MWEgYtG.chunk.css';