/* extracted by css-entry-points-plugin */
@import './text-BrKBJp1J.chunk.css';
@import './NcLoadingIcon-KhuNWNbx.chunk.css';
@import './NcCheckboxRadioSwitch-CgbTELjq-yZHRUesB.chunk.css';
@import './NcNoteCard-CwNXZ4vV-CAMZkS3U.chunk.css';
@import './EditorOutline-DIxHPP8H.chunk.css';
@import './Wrapper-CAXM0PfC.chunk.css';
@import './MenuBar-BUES5ttt.chunk.css';
@import './Editor-DOji7-cc.chunk.css';