/* extracted by css-entry-points-plugin */
@import './NcNoteCard-CImn6F9p-B6WZzrWi.chunk.css';
@import './_plugin-vue2_normalizer--tuJJ_aO.chunk.css';
@import './RichText-HgxT6GHS.chunk.css';
@import './BaseReader-BJvsPn00.chunk.css';
@import './RichTextReader-GsS_EREA.chunk.css';
@import './RichWorkspace-DAC-32ZA.chunk.css';