/* extracted by css-entry-points-plugin */
@import './public-8w2LAIqc.chunk.css';
@import './_plugin-vue2_normalizer-BVpmSrje.chunk.css';
@import './RichText-Bm-LyHxA.chunk.css';
@import './BaseReader-CsLFhfbT.chunk.css';
@import './RichTextReader-JiRvR_QI.chunk.css';
@import './RichWorkspace-BVKGbF73.chunk.css';