/* extracted by css-entry-points-plugin */
@import './text-BrKBJp1J.chunk.css';
@import './NcLoadingIcon-CAC0K4sG.chunk.css';
@import './NcNoteCard-CwNXZ4vV-BNFbqhGX.chunk.css';
@import './NcCheckboxRadioSwitch-CX3HXCEk-35V8jJy1.chunk.css';
@import './EditorOutline-zfrAxKSg.chunk.css';
@import './Wrapper-CAXM0PfC.chunk.css';
@import './MenuBar-CZ8uOt4O.chunk.css';
@import './Editor-DLKCCoT3.chunk.css';