/* extracted by css-entry-points-plugin */
@import './NcNoteCard-CImn6F9p-B0wUvUiR.chunk.css';
@import './_plugin-vue2_normalizer-BuF_RrMp.chunk.css';
@import './RichText-CRlZObVv.chunk.css';
@import './BaseReader-BJvsPn00.chunk.css';
@import './RichTextReader-CpjsUkfz.chunk.css';
@import './RichWorkspace-irRpBmr3.chunk.css';