/* extracted by css-entry-points-plugin */
@import './text-BrKBJp1J.chunk.css';
@import './NcLoadingIcon-KhuNWNbx.chunk.css';
@import './NcCheckboxRadioSwitch-CgbTELjq-yZHRUesB.chunk.css';
@import './NcNoteCard-CwNXZ4vV-CAMZkS3U.chunk.css';
@import './Wrapper-DvM8Zo5N.chunk.css';
@import './MenuBar-nIM-GMTV.chunk.css';
@import './Editor-WVhMK67-.chunk.css';