build/
\.idea/
node_modules/
vendor/
img/twemoji/
cypress/screenshots/
cypress/snapshots/actual
cypress/snapshots/diff
cypress/videos/
cypress/downloads/
.php-cs-fixer.cache
/tests/clover.xml
/tests/.phpunit.result.cache
dist/
webpack-stats.json

# js folder, to be updated wth --force
/js
