build/
\.idea/
node_modules/
vendor/
img/twemoji/
cypress/screenshots/
cypress/snapshots/
cypress/videos/
cypress/downloads/
/playwright-report/
.php-cs-fixer.cache
/test-results/
/tests/clover.xml
/tests/.phpunit.result.cache
dist/
webpack-stats.json

# js folder, to be updated wth --force
/js

# Playwright snapshots - only keep the ci version in git
playwright/e2e/*-snapshots/**
!playwright/e2e/*-snapshots/*-on-ci-**
