/**
 * SPDX-FileCopyrightText: 2022 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@media print {
	@page {
		size: A4;
		margin: 2.5cm 2cm 2cm 2.5cm;
	}

	body {
		// position: fixed does not support scrolling and as such only prints one page
		position: absolute;
		overflow: visible !important;
	}

	#header {
		display: none !important;
	}

	#content {
		display: block !important;
		position: relative !important;
		border-radius: 0;
		margin: 0;
		width: 100%;
		height: fit-content;
	}

	footer {
		display: none !important;
	}

	#viewer[data-handler='text'] {
		// Hide top border
		border: none;
		width: 100% !important;
		// NcModal uses fixed, which will be cropped when printed
		position: absolute !important;

		.modal-header {
			// Hide modal header (close button)
			display: none !important;
		}
		.modal-container {
			// Make sure top aligned as we hided the menubar */
			top: 0px;
			height: fit-content;
		}
	}

	.text-editor {
		height: fit-content !important;

		.text-menubar, .text-readonly-bar {
			// Hide menu bar
			display: none !important;
		}
		.action-item, .table-add-column, .table-add-row {
			// Hide table buttons
			display: none !important;
		}
		.editor__content-wrapper .editor__content {
			// Margins set by page rule
			max-width: 100%;
		}
		.floating-buttons {
			// Hide floating buttons
			display: none !important;
		}
		.editor__toc-container {
			// Hide outline + table of contents
			display: none !important;
		}
		.text-editor__wrapper {
			height: fit-content;
			position: unset;

			div.ProseMirror {
				margin-top: 0;
				margin-bottom: 0;
				padding: 0;

				h1,
				h2,
				h3,
				h4,
				h5 {
					// orphaned headlines are ugly
					break-after: avoid;
					page-break-after: avoid;
				}
				.image,
				img,
				table {
					// make sure table content fits page width
					overflow-wrap: anywhere;
					// try no page breaks within tables or images
					break-inside: avoid-page;
					page-break-inside: avoid;
					// no need to leave room for buttons
					width: 100%;
				}

				// Add some borders below header and between columns
				th {
					color: black !important;
					font-weight: bold !important;
					border-width: 1px !important;
					border-bottom-width: 2px !important;
					border-color: gray !important;
				}

				td {
					border-width: 1px !important;
					border-color: gray !important;
				}
			}
			.container-suggestions {
				display: none;
			}
		}
	}

	.menubar-placeholder {
		display: none;
	}

	.collaboration-carets__caret,
	.collaboration-carets__label {
		display: none;
	}
}
